.footer {
    background-color: $footer-color;
}

.footer__adress {
    margin-top: 20px;
}

.footer__map-link {
    margin: 0;

    font-style: normal;
    line-height: 1.71;

    color: $footer-text-color;
}

.footer__item-link {
    margin-top: 9px;
}

.footer__link {
    font-style: normal;
    line-height: 1.71;

    color: $footer-mail-tel-color;

    transition: color  $main-animation;

    &:hover,
    &:focus {
            color: $main-color;
            transition: color  $main-animation;
        }
    }

/*Social network links*/

.footer__socials-header {
    margin: 0;

    color: $footer-text-color;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.footer__socials-list {
    display: flex;

    margin-top: 20px;
}

.footer__socials-item {
    margin-right: 10px;

    &:last-child {
        margin-right: 0px;
    }
}

.footer__socials-link {
    display: flex;
    align-items: center;

    padding: 12px 12px;
    border-radius: 50%;

    background-color: #ffffff10;

    transition: background-color  $main-animation;

    &-icon {
            width: 20px;
            height: 20px;
    
            fill: $svg-icon-color;
        }

    &:hover,
    &:focus {
        background-color: $main-color;
    }
}

/*footer form*/

.footer__submit-text {
    display: block;

    margin-bottom: 20px;

    color: $footer-text-color;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}


.footer__label {
    display: block;
}

.footer__form-input {
    padding: 15px;

    background-color: transparent;
    color: $footer-text-color;

    border: 1px solid #ffffff30;
    border-radius: $border-main-radius;

    transition: border-color  $main-animation;

    &:focus-within {
        outline: none;

        border-color: $main-color;
        transition: border-color  $main-animation;
    }
}

.footer__form-button {
    @include centered;

    padding: 0px 30px;

    border: none;
    border-radius: $border-main-radius;

    color: $footer-text-color;
    background-color: $main-color;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    transition: background-color  $main-animation;

    cursor: pointer;

    &-icon {
            margin-top: 13px;
            margin-bottom: 13px;
            margin-left: 10px;
    
            width: 24px;
            height: 24px;
        }

    &:hover,
    &:focus {
        background-color: $hover-color;
    
        transition: background-color  $main-animation;
    }
}


