.portfolio__filter-button {
    padding: 6px 22px;

    color: $main-text-color;
    border: $main-color;

    border-radius: $border-main-radius;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    transition: background-color  $main-animation,
        color  $main-animation,
        box-shadow  $main-animation;

    cursor: pointer;

    &--active {
            background-color: $main-color;
            color: $hero-text-color;
    
            box-shadow: $portfolio-filter-btn-shadow
        }

    &:hover,
    &:focus {
        background-color: $hover-color;
        color: $hero-text-color;

        box-shadow: $portfolio-shadow;

        transition: background-color  $main-animation,
            color  $main-animation,
            box-shadow  $main-animation;
    }
}

/*Portfolio list*/

.portfolio__link {
    display: inline-block;

    transition: box-shadow  $main-animation;

    cursor: pointer;

    &:hover,
    &:focus {
        box-shadow: $portfolio-shadow;

        transition: box-shadow  $main-animation;
    }
    &:hover .portfolio__img-desc--hover,
    &:focus .portfolio__img-desc--hover {
        transform: translateY(0);
}
}

.portfolio__img-desc {
    position: relative;
    overflow: hidden;

    &--hover {
            position: absolute;
            top: 0;

            width: 100%;
            height: 100%;
            margin: 0;
    
            font-size: 18px;
            line-height: 1.56;
    
            color: $hero-text-color;
            background-color: $main-color-hover;
    
            transform: translateY(100%);
            transition: transform $main-animation;
        }
}


.portfolio__desc-thumb {
    border: $border-portfolio;
    border-top: 0;
    

        &-title {
        margin: 0;

        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;

        color: $main-text-color;
    }

        &-text {
            margin: 0;

            font-size: 16px;
            line-height: 1.8;

            color: $second-color;
    }
}